#Primer-Nav{
    background-color: #31343a;
}

#Element{
    color: #f8f9fa;
}

#Element:hover{
    color: #9e9fa1;
}

#Element-Special{
    color: #0f7206;
}

#Element-Special:hover{
    color: #19db08;
}

#Nav-Container-One{
    display: flex;
    align-items: center;
}

#Nav-Text{
    display: flex;
    gap: 15px;
}

#Img-CodoACodo{
    width: 30%;
    height: 30%;
}

#Img-CodoACodo:hover{
    width: 35%;
    height: 35%;
    transition: 0.5s;
}

#Text-One-Nav{
    font-size: 150%;
    color: #f8f9fa;
    font-weight: 500;
}


/*Estelizacion del resto de la pagina*/

#Showcase{
    background-image: url(TpMediaImg/ba1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /*se va a utilizar medida vh , que es mas flexible y sirve para que el diseño sea responsive*/
    height: 100vh;
}

#Showcase #Shadow{
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
}

.container-flex{
    width: 90%; 
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: flex-end;
}

#C-One{
    align-self: center;
}


.text-C-One{
    color: #f8f9fa;
    text-align: right;
}

.text-C-Two{
    font-size:100%;
    color: #f8f9fa;
    text-align: right;
    width: 75vh;
    height: 25vh;
}

/*MEDIA QUERIE*/

@media screen and (max-width:852px){
    .text-C-Two{
        text-align: center;
        width: 100%;
        height: 30vh;
    }
}

/*MEDIA QUERIE*/

@media screen and (max-height:550px){
    .text-C-Two{
        font-size: 80%;
        width: 100%;
    }
}

#C-Two{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
}

#Button-Showcase{
    width: 26vh;
    height: 6vh;
}

/*MEDIA QUERIE*/

@media screen and (max-width:614px){
    #Button-Showcase{
        width: 18vh;
        height: 9vh;
    }
}

@media screen and (max-height:455px){ 
    #Button-Showcase{
        width: 35vh;
        height: 10vh;
    }
}

/*Media querie en especifica*/

@media screen and (max-height:590px){
    #Button-Showcase{
        font-size: 70%;
    }
}

#Button-Showcase:hover{
    background-color: #19db08;
    border: 2px solid #19db08;
    transition: 0.5s;
}


/*estelizacion Zona de los oradores */

#Oradores-Container{
    display: block;
    width: 100%;
    height: 110vh;
}

#Spacing-Oradores{
    height: 120vh;
    padding: 2% 0% 0% 0%;
}

#Presentation{
    display: block;
}

#Oradores-Presentation{
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

#First-text-Oradores{
    text-align: center;
    font-size: 100%;
    font-weight:500;
}

#Second-text-Oradores{
    text-align: center;
}

#Second-text-Oradores:hover{
    color: #fffb00;
    cursor:default;
    transition: 0.5s;
}

/*seccion de los lenguajes*/

#Zona_Speakers{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

#Spiker{
    width: 26%;
    height: 4vh;
    text-align: center;
    border-radius: 7%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Spiker-React{
    width: 17%;
    height: 4vh;
    text-align: center;
    border-radius: 7%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Spiker:hover{
    text-decoration: underline;
    cursor: default;
}

#Spiker-React:hover{
    text-decoration: underline;
    cursor: default;
}

@media screen and (max-width:1200px){
    #Spiker{
        width: 70%;
        font-size: 64%;
        font-weight:700;
    }
}


@media screen and (max-width:1200px){
    #Spiker-React{
        width: 70%;
        font-size: 80%;
        font-weight: 700;
    }
}


.card{
    /*NUEVO CONTENIDO*/
    width: 30%;
    border-radius: 5%;
}

@media screen and (max-height:590px){ 
    .card{
        font-size: 79%;
        height: 86vh;
        width: 26%;
    }  
}

@media screen and (max-width:802px){
    .card{
        width: 100%;
    }
}

.card-title{
    font-weight:600;
}

.card-text{
    font-size: 85%;
}

/*estilizacion media querie card-body*/

@media screen and (max-width:850px){
    .card-text{
        font-size: 77%;
    }
}



/*Estilizacion del resto de la pagina */
#Comprar-Tickets{
    display: flex;
}

/*MEDIA QUERIE : NUEVAS MEDIDAS*/
@media screen and (max-height:569px){  
    #Comprar-Tickets{
        padding: 3%;
        display: block;
    }
}

/*MEDIA QUERIE's*/

@media screen and (max-width:780px){ 
    #Comprar-Tickets{
        display: block;
    }
}

.Carousel-text{
    background-color: #25262b;
    width: 50%;
    height: 68.5vh;
}

@media screen and (max-width:780px){ 
    .Carousel-text{
        width: 100%;
        height: 38vh;
    }
}

@media screen and (max-height:569px){ 
    .Carousel-text{
        width: 100%;
        height: 58vh;
    } 
}

#C-Second-Container-Carousel{
    width: 100%;
    height: 40vh;
    position: relative;
    padding: 2%;
}

#First-Carousel-text{
    font-size: 150%;
    font-weight: 600;
}

.Carousel{
    width: 50%;
}

/*MEDIA QUERIE*/

@media screen and (max-width:950px){ 
    .Carousel{
        width: 100%;
    }
    
}

@media screen and (max-height:530px){ 
    .Carousel{
        width: 100%;
    }
}


#Img-Carousel-1{
    height: 68.5vh;
}

#Img-Carousel-2{
    width: 100%;
    height: 68.5vh;
}

#Img-Carousel-3{
    width: 100%;
    height: 68.5vh;
}

/*MEDIA QUERIE DE LAS IMAGENES*/

@media screen and (max-width:680px){ 
    #Img-Carousel-1{
        height: 32vh;

    }

    #Img-Carousel-2{
        height: 32vh;
    }

    #Img-Carousel-3{
        height: 32vh;
    }
}

#Text-One-Carousel{
    text-align: left;
    font-size: 90%;
    font-weight: 500;
}

/*estelizacion del formulario*/

#Formulario{
    height: 71vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Presentation-Form{
    display: block;
}

#Text-Form-1{
    font-size: 110%;
    text-align: center;
}

/*MEDIA QUERIE*/

@media screen and (max-height:580px){
    #Text-Form-1{
        font-size: 89%;
        margin: 3% 0% 0% 0%;
    }
}

#Text-Form-2{
    font-size: 200%;
    text-align: center;
}

/*MEDIA QUERIE*/

@media screen and (max-height:580px){
    #Text-Form-2{
        font-size: 150%;
    }
}

#Text-Form-2:hover{
    color:#fbff00;
    transition: 0.5s;
    cursor: default;
}

#Text-Form-3{
    text-align: center;
}

/*MEDIA QUERIE*/

@media screen and (max-width:580px){
    #Text-Form-3{
        font-size: 83%;
        text-align: center;
    }
}

/*MEDIA QUERIE*/

@media screen and (max-height:360px){
    #Text-Form-3{
        font-size: 73%;
    }
}

#Specific-Span{
    text-decoration: underline;
    /*TEXT DECORATION STYLE PARA DARLE UN ESTILO ESPECIFICO AL TEXTO QUE SE ENCUENTRA EN ESA PARTE */
    text-decoration-style: dotted;
}

#Specific-Span:hover{
    color: #e4e710;
    transition: 0.5s;
}


#First-Contianer-Form{
    display: flex;
    justify-content: flex-start;
    gap: 60px;
}


.First-Part-Formulario{
    display: flex;
    height: 8vh;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

#INPUT{
    width: 50%;
    height: 5vh;
}

#TEXTAREA{
    width: 100%;
    height: 16vh;
}

#Part-Second-Form{
    display: block;
    justify-content: center;
}

#Button-Form{
    background-color: #6edb08;
    color: #f8f9fa;
    width: 70%;
}

/*MEDIA QUERIE BUTTON FORM*/

@media screen and (max-height:398px){
    #Button-Form{
        width: 23%;
    } 
}

#Text-Help{
    height: 7vh;
}


/*seccion de los tickets*/

#TipoDeCliente{
    display: flex;
    height: 50vh;
}

#Tickets_Zone{
    height: 70vh;
    justify-content: center;
}

#TipoDeCliente{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.block{
    display: flex;
}

.intern-block{
    display: block;
    text-align: center;
}

.first-block{
    width: 50vh;
    height: 40vh;
    font-weight: 600;
    border: rgb(24, 24, 247) 3px solid;
}

.Second-block{
    width: 50vh;
    height: 40vh;
    font-weight: 600;
    border: rgb(3, 76, 82) 3px solid;
}

.third-block{
    width:50vh;
    height: 40vh;
    font-weight: 600;
    border:#e76107 solid 3px; 
}

#Tickets_Zone{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Fist-Text-Tickets{
    display: block;
    text-align: center;
}

.ONE{
    display: flex;
    gap: 15px;
}

.TWO{
    display: flex;
    width: 60vh;
    gap: 50px;
}

#cantidad{
    width: 50vh;
}

#selection{
    width: 40vh;
}

.amount{
    display: block;
}

.selection{
    display: block;
}

#buy{
    background-color: rgb(182, 239, 243);
    text-align: left;
    height: 10vh;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-top: 4%;
    color: rgb(55, 55, 252);
}

#email-ticket{
    margin-top: 4%;
}

#Porciento{
    font-weight: 700;
}

#One-Ticket{
    width:50vh;
}

#Button-Ticket{
    width: 50vh;
    border-radius: 3%;
    background-color: #79db08;
    color: #f8f9fa;
    font-weight: 600;
}

#Button-Ticket:hover{
    background-color: #e76107;
}
/*_______________________________*/

#Button-Form{
    font-size: 120%;
    width: 100%;
}

#Button-Form:hover{
    background-color: #ff7b00;
    font-weight: 600;
}

/*seccion del FOOTER*/

#Container-Footer{
    background-image: linear-gradient(to right, #002d47, #00535a);
    display: flex;
    justify-content: center;
}

#Nav-Footer-Two{
    display: flex;
    gap: 48px;
}


#Element-Footer{
    color: #f8f9fa;
}

#Element-Footer:hover{
    text-decoration: underline;
    text-decoration-style: dotted;
}


/*media querie*/
@media screen and (max-width:780px) {

    #TipoDeCliente{
        display: flex;
        gap: 10px;
    }
    .first-block{
        width: 25vh;
        height: 50vh;
    }
    .Second-block{
        width: 25vh;
        height: 50vh;
    }
    .third-block{
        width: 25vh;
        height: 50vh;
    }
    #Persona_Bloque{
        font-size: 3vh;
    }
    #Documentacion{
        font-size: 3vh;
    }
}

/*seccion especifica donde se trabaja con el formulario de cada uno de los items */

#General{
    width: 150vh;
}

#FormularioDeTickets{
    width: 150vh;
}

#MuestraDeLostickets{
    background-color: #bcecff;
    display: flex;
    width: 141vh;
}

#nombre{
    width: 80vh;
}

#apellido{
    width: 80vh;
}

#correo{
    width: 146vh;
}

#PrimeraParte{
    display: flex;
    gap: 10px;
}

@media screen  and (max-width:680px){
    #PrimeraParte{
        display: block;
        width: 80vh;
    }
    #nombre{
        width: 70vh;  
    }
    #apellido{
        width: 70vh;
    }
    #correo{
        width: 70vh;
    }

    #informacionMostrada{
        width: 70vh;
        height: 40vh;
    }
}

#SeccionEspecifica{
    display: flex;
    gap: 21vh;
    padding: 0% 0% 3% 0%;
}

@media screen and (max-width:680px){
    #SeccionEspecifica{
        display: block;
    }
    #CategoriaDeLosBoletosSeleccionada{
        width: 100vh;
    }

    #MuestraDeLostickets{
        width: 70vh;
        height: 30vh;
        display: block;
    }

    #IntroduccionTickets{
        width: 70vh;
    }
}

#CantidadCantidadDeBoletos{
    width: 70vh;
}

#CategoriaDeLosBoletosSeleccionada{
    width: 50vh;
}

#amount{
    display: block;
}

#Category{
    display: block;
}

#resultado{
    color: #0e12fa;
}

#CategoriaDeLaCategoriaSeleccionada{
    color: #0e12fa;
}

#SeccionDeBotonesTickets{
    display: flex;
    height: 14vh;
    align-items: center;
    gap: 8px;
}

@media screen and (max-width:680px) {
    #SeccionDeBotonesTickets{
        width: 70vh;
        height: 20vh;
    }
}

#BorrarInformacion{
    width: 70vh;
    height: 7vh;
    background-color: #51ec09;
    color: #f8f8f8;
}

#BorrarInformacion:hover{
    background-color: #e76107;
}

#ResumenDePago{
    width: 70vh;
    height: 7vh;
    background-color: #51ec09;
    color: #f8f8f8;
}

#ResumenDePago:hover{
    background-color: #e76107;
}

#informacionMostrada{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #0e12fa;
}

